<main class="main">
  <div class="content">
    <h1 class="title">{{ appName }}</h1>
    <p class="description">
      Jeremias Cañadas Oliva. Aplicació per consultar i gestionar un catàleg de videojocs.
    </p>

    <div class="blocks">
      <div class="card">
        <div class="card-header">
          <h2 class="card-title">Dades bàsiques del projecte a la branca ra1-setup</h2>
        </div>
        <div class="card-content">
          <span class="card-content-label">Nom projecte:</span>
          ioc-angular-cataleg-videojocs-jeremias-canadas
        </div>
        <div class="card-content">
          <span class="card-content-label">Tecnologies:</span> Angular, TypeScript, HTML, SCSS
        </div>
        <div class="card-content">
          <span class="card-content-label">Versió d'Angular:</span> 22.2.0
        </div>
        <div class="card-content"><span class="card-content-label">Node.js:</span> 24.21.0</div>
        <div class="card-content">
          <span class="card-content-label">Autor:</span> Jeremias Cañadas Oliva
        </div>
      </div>

      <aside class="aside-info">
        <p><strong>Nota:</strong></p>
        <p>Aquesta és la versió inicial del projecte, preparada a la branca ra1-setup.</p>
      </aside>
    </div>

    <p class="status">Projecte base llest</p>
  </div>
</main>

<router-outlet />
